<!DOCTYPE HTML>
<html>

<head>
	<title>Home Page</title>
	<link rel="stylesheet" href="css/crab.css">

</head>

<body>
	<div id="app">
		<div class="header">
			<section class="section">
				<h1 class="title">Chesapeake Blue Crab Health</h1>
				<div class="navbar">
					<a href="#newCrab" v-on:click="clearInputs">New Crab</a>
					<a href="#clear" v-on:click="clearInputs">Clear</a>
				</div>
			</section>
		</div>

		<div class="portrait">
			<div class="row status pstat" :class="classObject">
					<span>
						<label class="label">Status: </label> {{ status }}</span>
			</div>
			<div class="content">
				<table border="0">
					<tr id="por-color">
						<td>
								<div class="color">
										<h3>Enter the color of the crab</h3>
										<div class="control">
											<span>
												<label class="label">Selected Color</label>
												<input v-model="form.color" class="crab-input number" min="0" step="1" type="number">
											</span>
											
											<input type="range" required list="tickmarks" v-model="form.color" class="crab-input slider" value="-1" id="myRange" min="0" max="10"
											step="1">
										</div>
									</div>
						</td>
					</tr>
					<tr id="por-weight">
						<td>
								<div class="weight">
										<h3>Enter the weight of the crab</h3>
										<div class="control">
											<span>
												<label class="label">Selected Weight</label>
												<input  required  v-model="form.weight" class="crab-input number" min="0" step="1" type="number">
											</span>
										</div>
									</div>
						</td>
					</tr>

					<tr id="por-length">
						<td>
								<div>
										<h3>Enter the length of the crab</h3>
										<div class="control">
											<span>
												<label class="label">Selected Length</label>
												<input required  v-model="form.length" class="crab-input number" min="0" step="1" type="number">
											</span>
										</div>
									</div>
						</td>
					</tr>

					<tr id="por-date">
						<td>
								<div class="date">
										<h3>Enter the date crab was found</h3>
										<div class="control">
											<span>
												<label class="label">Current Date</label>
												<input  required v-model="form.date" class="crab-input date" type="date">
											</span>
										</div>
									</div>
						</td>
					</tr>
				</table>
			</div>
			<button class="checker" :disabled=isDisabled  v-on:click="checkHealth">Check Health</button>
			

		</div>


		<div class="landscape">
			<!-- landscape -->
			<div class="column status" :class="classObject">
				<span>
					<label class="label">Status: </label> {{ status }}</span>
			</div>
			<table border="0" colspan="4">
				<tr>
					<td id="lan-color" class="option">
						<div class="color">
							<h3>Enter the color of the crab</h3>
							<div class="control">
								<span>
									<label class="label">Selected Color</label>
									<input  required v-model="form.color" class="crab-input number" min="0" step="1" type="number">
								</span>
								
								<input type="range" required  list="tickmarks" v-model="form.color" class="crab-input slider" value="-1" id="myRange" min="0" max="10"
								step="1">
							</div>
						</div>
					</td>
					<td id="lan-weight" class="option">
						<div class="weight">
							<h3>Enter the weight of the crab</h3>
							<div class="control">
								<span>
									<label class="label">Selected Weight</label>
									<input required  v-model="form.weight" class="crab-input number" min="0" step="1" type="number">
								</span>
							</div>
						</div>
					</td>
					<td id="lan-length" class="option">
						<div class="length">
							<h3>Enter the length of the crab</h3>
							<div class="control">
								<span>
									<label class="label">Selected Length</label>
									<input required  v-model="form.length" class="crab-input number" min="0" step="1" type="number">
								</span>
							</div>
						</div>
					</td>
					<td id="lan-date" class="option">
						<div class="date">
							<h3>Enter the date crab was found</h3>
							<div class="control">
								<span>
									<label class="label">Current Date</label>
									<input required  v-model="form.date" class="crab-input date" type="date">
								</span>
							</div>
						</div>
					</td>
				</tr>
			</table>
			<button class="checker" :disabled=isDisabled  v-on:click="checkHealth">Check Health</button>

		
		</div>

	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		var HEALTHY = "Healthy";
		var UNHEALTHY = "Unhealthy";
		var THRESHHOLD_MONTH = 0;
		var THRESHHOLD_DAY = 0;
		var mdCrabHealth = new Vue({
			el: '#app',
			data: {
				form: {
					color: -1,
					weight: -1,
					length: -1,
					date: "2018-07-26"
				},
				error: null,
				errors: [],
				status: "",
				statusClass: {
					healthy: this.status && this.status == HEALTHY,
					unhealthy: this.status && this.status == UNHEALTHY,
					empty: !this.status || this.status == ""
				}
			},
			computed: {
				classObject: function () {
					return {
						healthy: this.status && this.status == HEALTHY,
						unhealthy: this.status && this.status == UNHEALTHY,
						'text-danger': this.error && this.error.type === 'fatal',
						empty: !this.status || this.status == ""

					}
				},
				isDisabled() {
					// evaluate whatever you need to determine disabled here...
					return !this.checkForm();
				}
			},
			methods: {
				toggleHealth: function () {
					if (this.status == HEALTHY) {
						this.status = UNHEALTHY;
					} else {
						this.status = HEALTHY;
					}
				},
				checkHealth: function(){
					// this.toggleHealth();
					let crabHealth = null;
					let crabDate = new Date(this.form.date).getMonth()
					if(this.form.color > 7) {
						crabHealth = HEALTHY;
					}else if(this.form.weight > 10 &&
							(crabDate.getMonth() > THRESHHOLD_MONTH ||
							crabDate.getMonth() == THRESHHOLD_MONTH && 
							crabDate.getDate() > THRESHHOLD_DAY)){
						crabHealth = HEALTHY;
					}else if(this.form.length > 5){
						crabHealth = HEALTHY;
					}else if(this.form.color > 5 &&
							this.form.weight > 8 &&
							this.form.length > 5){
						crabHealth = HEALTHY;
					}else{
						crabHealth = UNHEALTHY;
					}
					this.status = crabHealth;

				},
				clearInputs: function () {
					this.status = "";
					this.form.color = -1;
					this.form.weight = -1;
					this.form.length = -1;
					this.form.date = "2018-07-26";
				},
				checkForm: function (e) {
					if (this.form.color > 0 && this.form.weight > 0 && this.form.length > 0 && this.form.date != "") {
						return true;
					}

					this.errors = [];

					if (this.form.color <= 0) {
						this.errors.push('Color required.');
					}
					if (this.form.weight <= 0) {
						this.errors.push('Weight required.');
					}
					if (this.form.length <= 0) {
						this.errors.push('Length required.');
					}
					if (this.form.date == "" || !this.form.date) {
						this.errors.push('Date required.');
					}
				

					return false;
				}
			}
		});
	</script>
</body>

</html>